@font-face {
    font-family: "as";
    src: url("as.eot?f6a4088b4c35cca283b2bd1c88ad994f?#iefix") format("embedded-opentype"),
url("as.woff2?f6a4088b4c35cca283b2bd1c88ad994f") format("woff2"),
url("as.woff?f6a4088b4c35cca283b2bd1c88ad994f") format("woff"),
url("as.ttf?f6a4088b4c35cca283b2bd1c88ad994f") format("truetype"),
url("as.svg?f6a4088b4c35cca283b2bd1c88ad994f#as") format("svg");
}

.as {
    display: inline-block;
    font: normal normal normal 14px/1 as;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.as-align-center:before {
   content: "\f101";
}
.as-align-justify:before {
   content: "\f102";
}
.as-align-left:before {
   content: "\f103";
}
.as-align-right:before {
   content: "\f104";
}
.as-announcement:before {
   content: "\f105";
}
.as-arrow-down:before {
   content: "\f106";
}
.as-arrow-left:before {
   content: "\f107";
}
.as-arrow-right:before {
   content: "\f108";
}
.as-arrow-up:before {
   content: "\f109";
}
.as-attachment:before {
   content: "\f10a";
}
.as-barcode:before {
   content: "\f10b";
}
.as-bold:before {
   content: "\f10c";
}
.as-border-all:before {
   content: "\f10d";
}
.as-border-bottom:before {
   content: "\f10e";
}
.as-border-horizontal:before {
   content: "\f10f";
}
.as-border-inner:before {
   content: "\f110";
}
.as-border-left:before {
   content: "\f111";
}
.as-border-none:before {
   content: "\f112";
}
.as-border-outer:before {
   content: "\f113";
}
.as-border-right:before {
   content: "\f114";
}
.as-border-top:before {
   content: "\f115";
}
.as-border-vertical:before {
   content: "\f116";
}
.as-caret-down:before {
   content: "\f117";
}
.as-caret-left:before {
   content: "\f118";
}
.as-caret-right:before {
   content: "\f119";
}
.as-caret-up:before {
   content: "\f11a";
}
.as-check-circle-o:before {
   content: "\f11b";
}
.as-check-circle:before {
   content: "\f11c";
}
.as-check-square-o:before {
   content: "\f11d";
}
.as-check-square:before {
   content: "\f11e";
}
.as-check:before {
   content: "\f11f";
}
.as-chevron-down:before {
   content: "\f120";
}
.as-chevron-left:before {
   content: "\f121";
}
.as-chevron-right:before {
   content: "\f122";
}
.as-chevron-top:before {
   content: "\f123";
}
.as-circle-o:before {
   content: "\f124";
}
.as-circle:before {
   content: "\f125";
}
.as-clock-o:before {
   content: "\f126";
}
.as-close-circle-o:before {
   content: "\f127";
}
.as-close-circle:before {
   content: "\f128";
}
.as-close:before {
   content: "\f129";
}
.as-collaborators:before {
   content: "\f12a";
}
.as-comma:before {
   content: "\f12b";
}
.as-comment-o:before {
   content: "\f12c";
}
.as-copy:before {
   content: "\f12d";
}
.as-date-range:before {
   content: "\f12e";
}
.as-date:before {
   content: "\f12f";
}
.as-delete-forever:before {
   content: "\f130";
}
.as-delete:before {
   content: "\f131";
}
.as-diamond:before {
   content: "\f132";
}
.as-done-all:before {
   content: "\f133";
}
.as-done:before {
   content: "\f134";
}
.as-download:before {
   content: "\f135";
}
.as-edit:before {
   content: "\f136";
}
.as-envelope:before {
   content: "\f137";
}
.as-error-outline:before {
   content: "\f138";
}
.as-error:before {
   content: "\f139";
}
.as-exit:before {
   content: "\f13a";
}
.as-expand:before {
   content: "\f13b";
}
.as-eye-slash:before {
   content: "\f13c";
}
.as-eye:before {
   content: "\f13d";
}
.as-file-download:before {
   content: "\f13e";
}
.as-file-upload:before {
   content: "\f13f";
}
.as-file:before {
   content: "\f140";
}
.as-filter:before {
   content: "\f141";
}
.as-fire:before {
   content: "\f142";
}
.as-flag:before {
   content: "\f143";
}
.as-flash:before {
   content: "\f144";
}
.as-folder-create:before {
   content: "\f145";
}
.as-folder-open:before {
   content: "\f146";
}
.as-folder-shared:before {
   content: "\f147";
}
.as-folder:before {
   content: "\f148";
}
.as-group:before {
   content: "\f149";
}
.as-header:before {
   content: "\f14a";
}
.as-heart-o:before {
   content: "\f14b";
}
.as-heart:before {
   content: "\f14c";
}
.as-history:before {
   content: "\f14d";
}
.as-insert-comment:before {
   content: "\f14e";
}
.as-italic:before {
   content: "\f14f";
}
.as-label-o:before {
   content: "\f150";
}
.as-label:before {
   content: "\f151";
}
.as-language:before {
   content: "\f152";
}
.as-level-down:before {
   content: "\f153";
}
.as-level-up:before {
   content: "\f154";
}
.as-line-horiz:before {
   content: "\f155";
}
.as-line-vert:before {
   content: "\f156";
}
.as-lock-open-outline:before {
   content: "\f157";
}
.as-lock-outline:before {
   content: "\f158";
}
.as-lock:before {
   content: "\f159";
}
.as-long-text:before {
   content: "\f15a";
}
.as-lookup:before {
   content: "\f15b";
}
.as-menu:before {
   content: "\f15c";
}
.as-minus-circle-o:before {
   content: "\f15d";
}
.as-minus-circle:before {
   content: "\f15e";
}
.as-minus-square:before {
   content: "\f15f";
}
.as-minus:before {
   content: "\f160";
}
.as-more-alt:before {
   content: "\f161";
}
.as-more-horiz:before {
   content: "\f162";
}
.as-more-vert:before {
   content: "\f163";
}
.as-notification-none:before {
   content: "\f164";
}
.as-notification:before {
   content: "\f165";
}
.as-number-format:before {
   content: "\f166";
}
.as-number-sign:before {
   content: "\f167";
}
.as-outdent:before {
   content: "\f168";
}
.as-pencil:before {
   content: "\f169";
}
.as-phone:before {
   content: "\f16a";
}
.as-picture-o:before {
   content: "\f16b";
}
.as-picture:before {
   content: "\f16c";
}
.as-plane:before {
   content: "\f16d";
}
.as-play:before {
   content: "\f16e";
}
.as-plus-circle-o:before {
   content: "\f16f";
}
.as-plus-circle:before {
   content: "\f170";
}
.as-plus-square:before {
   content: "\f171";
}
.as-plus:before {
   content: "\f172";
}
.as-predecessor-type:before {
   content: "\f173";
}
.as-print:before {
   content: "\f174";
}
.as-question-circle-o:before {
   content: "\f175";
}
.as-question-circle:before {
   content: "\f176";
}
.as-question:before {
   content: "\f177";
}
.as-redo:before {
   content: "\f178";
}
.as-refresh:before {
   content: "\f179";
}
.as-restore:before {
   content: "\f17a";
}
.as-roll:before {
   content: "\f17b";
}
.as-search:before {
   content: "\f17c";
}
.as-settings:before {
   content: "\f17d";
}
.as-share:before {
   content: "\f17e";
}
.as-sort-alpha-asc copy:before {
   content: "\f17f";
}
.as-sort-alpha-asc:before {
   content: "\f180";
}
.as-sort-amount-asc:before {
   content: "\f181";
}
.as-sort-amount-desc:before {
   content: "\f182";
}
.as-sort-arrow-both:before {
   content: "\f183";
}
.as-sort-arrow-down:before {
   content: "\f184";
}
.as-sort-arrow-up:before {
   content: "\f185";
}
.as-sort:before {
   content: "\f186";
}
.as-square-o:before {
   content: "\f187";
}
.as-star-o:before {
   content: "\f188";
}
.as-star:before {
   content: "\f189";
}
.as-sticky-note-o:before {
   content: "\f18a";
}
.as-strikethrough:before {
   content: "\f18b";
}
.as-sync:before {
   content: "\f18c";
}
.as-triangle:before {
   content: "\f18d";
}
.as-undo:before {
   content: "\f18e";
}
.as-user:before {
   content: "\f18f";
}
.as-vertical-align-bottom:before {
   content: "\f190";
}
.as-vertical-align-center:before {
   content: "\f191";
}
.as-vertical-align-top:before {
   content: "\f192";
}
.as-warning:before {
   content: "\f193";
}
